<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">
      New Recipe
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <a href="#" *ngFor="let recipe of recipes" class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">{{recipe.name}}</h4>
            <p class="card-text">{{recipe.description}}</p>
          </div>
        </div>
        <div class="col-md-4 img">
          <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid rounded-start">
        </div>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
